.message {
  display: flex;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  height: max-content;
  font-size: 20px;
  max-width: 45%;
  word-wrap: break-word;
}

#you.message {
  background-color: darkgreen;
  width: max-content;

}

#other.message {
  background-color: navy;
  width: max-content;
  margin-left: auto;
}
